# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# local package
local/*
!local/package.json
.DS_Store

.turbo

build/**
dist/
dist/**
.next/**

examples/package-lock.json
pnpm-lock.yaml
